.description {
    display: flex;
    width: 80%;
    margin: 60px auto;
    transform: translateX(-1500px);
}

.description__show {
    transform: translateX(0px);
    transition: .5s linear;
}

.description__image { 
    flex-basis: 70%;
    margin-right: 50px;
}

.description__text {
    font-size: 1.3rem;
    flex-basis: 50%;
}

