.description {
    display: flex;
    width: 80%;
    margin: 60px auto;
}

.description__image { 
    flex-basis: 70%;
    margin-right: 50px;
}

.description__text {
    font-size: 1.3rem;
    flex-basis: 50%;
}

