.header {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 5;
}

.title__link {
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

.title__span {
    font-size: 3rem;
}

.title__name {
    font-size: 1.5rem;
}
.header__title {
    display: flex;
    align-items: center;
    margin-left: 20px;
    flex-basis: 30%;
}

.header__navigation {
    margin-right: 5%;
    display: flex;
}

.header__navigation--hidden {
    display: none;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

.navigation__item {
    padding: 10px;
    list-style: none;
}

.navigation__itemLink {
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    padding: 10px;
    padding-left: 0px;
    transition: color .2s linear;
}

.navigation__itemLink:hover {
    color: #007DBC;
}

.navigation__subcategories {
    position: absolute;
    display: none;
    z-index: 2;
    background-color: #fff;
    list-style: none;
    padding-left: 0px;
}
.subcategories__item--link {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px 30px 10px 20px;
    width: 100%;
}
.navigation__subcategories--show {
    display: block;
}
.subcategories__item:hover .subcategories__item--link{
    background-color: #007DBC;
    color: #fff;
    transition: .2s linear;
    cursor: pointer;
}

.subcategories__item {
    transition: .2s linear;
}

.navigation__itemLink--special:hover {
    cursor: pointer;
}

.header--mobile {

}

@media(max-width: 890px) {
    .header__navigation {
        display: none;
    }
    .header {
        display: block;
        width: 100%;
        text-align: center;
    }

    .header__title {
        display: block;
    }
}



