.passwords {
    background-image: url(../img/bike.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.passwords::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
}
.passwords__text {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2rem;
    color: #fff;
    z-index: 1;
}

.passwords__motto {
    font-size: 2.5rem;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    font-weight: bold;
    width: 90%;
    text-align: center;
}

.passwords__opinion {
    font-size: 1.5rem;
    color: #fff;
    background-color: #007DBC;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    z-index: 3;
    text-transform: uppercase;
    margin-top: 100px;
}