.service {
    margin-top: 100px
}

.service__title {
    width: 100%; 
    font-size: 2rem;
    text-align: center;
}

.service__allServices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.service__icons {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    opacity: 0;

}

.service__icons:hover {
    cursor: pointer;
}

.service__iconsLink {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.service__name {
    position: relative;
    color: black;
}

.service__name::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.service__icons:hover .service__name::after {
    /* text-decoration: underline; */
    width: 100%;
    transition: width .1s linear;
}

.service__iconsImage {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 10%;
    padding: 5px;
    margin-bottom: 10px;
}

.service__iconsImage--special {
    padding: 0px;
}

.service__bikes--animation {
    animation: showIcons .3s .2s forwards linear
}
.service__winter--animation {
    animation: showIcons .3s .4s forwards linear
}
.service__rollers--animation {
    animation: showIcons .3s .6s forwards linear
}
.service__trophy--animation {
    animation: showIcons .3s .8s forwards linear
}
.service__rackets--animation {
    animation: showIcons .3s 1s forwards linear
}
.service__camping--animation {
    animation: showIcons .3s 1.2s forwards linear
}

@keyframes showIcons {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}